header {background-color: burlywood; padding: 5px 15px;}

footer {text-align: center; background-color: rgb(204, 202, 202); padding: 15px 20px;}

section {text-align: center; background-color: rgb(152, 211, 179); padding: 5px 15px;}


